---
import Navbar from '../components/Navbar.astro';
import BucketsList from '../components/BucketsList.astro';

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/icon128.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bucket Tabs Management</title>
  </head>
  <body>
    <Navbar />
    <!-- Render the Navbar component -->
    <div class="flex">
      <div class="flex-auto w-64">
        <!-- Render the Main Content component -->
         <BucketsList />
      </div>
    </div>
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>