---
import Placeholder from '../components/Placeholder.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/icon128.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bucket Tabs Management</title>
  </head>
  <body>
    <h1>Manage Buckets</h1>
    <!-- Render the Navbar component -->
    <div class="flex bg-gray-50">
      <div class="flex-2">
        <!-- Render the Side bar component -->
        <button class="btn">Sidebar daisyUI</button> 
      </div>
      <div class="flex-auto bg-slate-500">
        <!-- Render the Main Content component -->
        <button class="btn">Hello daisyUI</button> 
      </div>
    </div>
  </body>
</html>
