---
import Placeholder from '../components/Placeholder.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/icon128.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bucket Tabs</title>
  </head>
  <body>
    <Placeholder />
    <h1 class="text-3xl font-bold underline">Bucket Tabs</h1>
    <a href="/sleep">Sleeping Tab</a>
    <a href="/buckets">SUspend current tab</a>
    <a href="/buckets">Bucket Tabs</a>
  </body>
</html>
