---
import Placeholder from '../components/Placeholder.astro';
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/icon128.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bucket Tabs</title>
  </head>
  <body class="bg-white dark:bg-black">
    <div class="container w-60">
      <div class="flex items-center justify-center">
        <img
        title="bucket"
        width="16"
        height="16"
        src="/assets/images/icon16.png"
        alt="bucket"
        class="mr-3"/>
      <h1 class="text-slate-50 text-lg">Bucket Tabs</h1>
      </div>
      <button
        id="bt-btn-default-bucket-tab"
        class="w-52 m-4 bg-transparent hover:bg-blue-500 text-slate-50 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded my-2"
      >
        Send to Default Bucket
      </button>
      <button
        id="bt-btn-send-buckets-tab"
        class="w-52 m-4 bg-transparent hover:bg-blue-500 text-slate-50 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded my-2"
      >
        Send to my buckets
      </button>
      <button
        id="bt-btn-sleep-tab"
        class="w-52 m-4 bg-transparent hover:bg-blue-500 text-slate-50 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded my-2"
      >
        Sleep current tab
      </button>
      <button
        id="bt-btn-suspend-current-tab"
        class="w-52 m-4 bg-transparent hover:bg-blue-500 text-slate-50 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded my-2"
      >
        Suspend current tab
      </button>
      <button
        id="bt-btn-suspend-all-tab"
        class="w-52 m-4 bg-transparent hover:bg-blue-500 text-slate-50 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded my-2"
      >
        Suspend all tabs
      </button>
      <button
        id="bt-btn-display-buckets"
        class="w-52 m-4 bg-transparent hover:bg-blue-500 text-slate-50 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded my-2"
      >
        Bucket Tabs Management
      </button>
    </div>
    <script src="./popup.js" type="module"></script>
  </body>
</html>

<style is:global>
  @tailwind base;

</style>
