---
import Placeholder from '../components/Placeholder.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/icon128.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bucket Tabs</title>
  </head>
  <body>
    <div class="container w-60">
      <h1>Bucket Tabs</h1>
      <button
        id="bt-btn-sleep-tab"
        class="w-4/5 m-4 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded my-2"
      >
        Sleeping Tab
      </button>
      <button
        id="bt-btn-suspend-current-tab"
        class="w-4/5 m-4 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded my-2"
      >
        Suspend current tab
      </button>
      <button
        id="bt-btn-suspend-all-tab"
        class="w-4/5 m-4 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded my-2"
      >
        Suspend all tabs
      </button>
      <button
        id="bt-btn-display-buckets"
        class="w-4/5 m-4 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded my-2"
      >
        Display Buckets
      </button>
    </div>
    <script src="./popup.js" type="module"></script>
  </body>
</html>


<style is:global>

h1 {
    /* color: white; */
    text-align: center;
    margin-top: 0;
    font-weight: 900;
    margin-bottom: 1.5rem;
  }
</style>