---
import BucketGroup from "./BucketGroup.astro"
---
<ul id="buckets-list" class="z-0">
    <li>
        <BucketGroup name="Bucket 1" />
    </li>
    <li>
        <BucketGroup name="Bucket 2" />
    </li>
    <li>
        <BucketGroup name="Bucket 3" />
    </li>
    <li>
        <BucketGroup name="Bucket 4" />
    </li>
    <li>
        <BucketGroup name="Bucket 5" />
    </li>
</ul>