---
import BucketGroup from './BucketGroup.astro';
import RenameBucketDialog from './RenameBucketDialog.astro';
---

<ul id="buckets-list" class="z-0">
  <li>
    <BucketGroup id="bucket-1" name="Bucket 1" />
  </li>
  <li>
    <BucketGroup id="bucket-2" name="Bucket 2" star="true" />
  </li>
  <li>
    <BucketGroup id="bucket-3" name="Bucket 3" />
  </li>
  <li>
    <BucketGroup id="bucket-4" name="Bucket 4" locked="true" />
  </li>
  <li>
    <BucketGroup id="bucket-5" name="Bucket 5" star="true" locked="true" />
  </li>
</ul>
<ul id="buckets-list-archive" class="z-0">
  <li>
    <BucketGroup id="bucket-archive" name="Archive Bucket" />
  </li>
</ul>

<RenameBucketDialog />

<script>
import { GlobalBucketTabsObject } from "../scripts/internal/global-object";

  window.globalBucketTabsObject = new GlobalBucketTabsObject();

  const bucket_list = document.getElementById('buckets-list');
  if (bucket_list) {
    bucket_list.addEventListener('click', async (event) => {
      const targetElement = event.target as HTMLElement;

      if (targetElement.classList.contains('bt-action-menu-item')) {
        targetElement.parentElement?.parentElement?.parentElement?.removeAttribute(
          'open'
        );
      }

      // bt-action-rename-bucket
      if (targetElement.classList.contains('bt-action-rename-bucket')) {
        console.log('Rename bucket');

        const bucketGroup = targetElement.closest('.bt-bucket-group');
        let bucketName = '';
        
        if(bucketGroup){
          const bucketId = bucketGroup?.id;
          window.globalBucketTabsObject.setCurrentBucketID(bucketId);
          const bucketNameElement = bucketGroup.querySelector('.bt-bucket-name');
          if(bucketNameElement) {
            bucketName = bucketNameElement.textContent ?? '';
          }
        }
        
        if (bucketName === undefined) {
          bucketName = 'Bucket';
          
        }

        const renameBucketDialog = document.getElementById('bt-rename-bucket');
        const renameInput = renameBucketDialog?.querySelector("input");
        if(renameInput){
          renameInput.value = bucketName;
          window.globalBucketTabsObject.setCurrentBucketName(bucketName);
          renameBucketDialog?.showModal(); // DaisyUI modal method
        }
      }

    });
  }
</script>
