---

---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <ul class="menu menu-horizontal px-1 mr-14">
      <li>
        <details>
          <summary>Tabs Actions</summary>
          <ul class="bt-actions-menu p-2 w-44 z-50">
            <li><a class="bt-action-menu-item">Restore all tabs</a></li>
            <li><a class="bt-action-menu-item">Delete all tabs</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>Bucket Actions</summary>
          <ul class="bt-actions-menu p-2 w-44">
            <li><a class="bt-action-menu-item">Lock bucket</a></li>
            <li><a class="bt-action-menu-item">Star bucket</a></li>
            <li><a class="bt-action-menu-item">Rename bucket</a></li>
            <li><a class="bt-action-menu-item">Archive bucket</a></li>
            <li><a class="bt-action-menu-item">Delete bucket</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="navbar-center hidden lg:flex"></div>
  <div class="navbar-end"></div>
</div>
