---
import BucketActionsMenu from "./BucketActionsMenu.astro";
const { name, id } = Astro.props;
---

<div id={id}
  class="collapse collapse-arrow bg-base-200 mt-2 bt-bucket-group"
>
  <input type="checkbox" />
  <div class="collapse-title text-xl font-medium">
    {name} - <span class="badge badge-primary">0</span>    
  </div>
  <div class="collapse-content">
    <BucketActionsMenu />
    <div class="h-52">
      <p>No tabs added.</p>
    </div>
  </div>
</div>
