---
import SearchBox from "./SearchBox.astro"
---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <ul class="menu menu-horizontal px-1 mr-14">
      <li>
        <details>
          <summary>Tabs Actions</summary>
          <ul class="bt-actions-menu p-2 w-44 z-50">
            <li><a class="bt-action-menu-item bt-action-restore-all-tabs">Restore all tabs</a></li>
            <li><a class="bt-action-menu-item bt-action-delete-all-tabs">Delete all tabs</a></li>
            <li><a class="bt-action-menu-item bt-action-archive-all-tabs">Archive all tabs</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>Bucket Actions</summary>
          <ul class="bt-actions-menu p-2 w-44">
            <li><a class="bt-action-menu-item bt-action-lock-bucket">Lock bucket</a></li>
            <li><a class="bt-action-menu-item bt-action-star-bucket">Star bucket</a></li>
            <li><a class="bt-action-menu-item bt-action-rename-bucket">Rename bucket</a></li>
            <li><a class="bt-action-menu-item bt-action-archive-bucket">Archive bucket</a></li>
            <li><a class="bt-action-menu-item bt-action-delete-bucket">Delete bucket</a></li>
          </ul>
        </details>
      </li>
    </ul>
    <SearchBox />
  </div>
  <div class="navbar-center hidden lg:flex">
    
  </div>
  <div class="navbar-end"></div>
</div>
