---
import SearchIcon from "../icons/SearchIcon.astro"
---
<label class="input input-bordered flex items-center gap-2">
  <input id="bt-global-search" type="text" class="grow" placeholder="Global Search" />
  <SearchIcon />
</label>