---
import SearchIcon from "../icons/SearchIcon.astro"
---
<label class="input input-bordered flex items-center gap-2" for="bt-global-search">
  <input id="bt-global-search" type="text" class="grow" placeholder="Global Search" title="Minimum of two characters required to search." />
  <SearchIcon />
</label>