---

---

<dialog id="bt-move-tab-bucket-dialog" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Move Tab to Bucket</h3>
    <div class="py-4">
      <!-- List buckets -->
       <ul id="bt-move-tab-buckets-list">
       </ul>
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button id="bt-move-tab-bucket-btn" class="mr-4">Move</button>
        <button>Cancel</button>
      </form>
    </div>
  </div>
</dialog>

<script>
import { TabEvents, type MoveTabToBucketType } from '../scripts/internal/tab-signals';

  const renameBucketBtn = document.getElementById('bt-move-tab-bucket-btn');
  if (renameBucketBtn) {
    renameBucketBtn.addEventListener('click', (ev) => {
      const bucketsListEl = document.getElementById('bt-move-tab-buckets-list');
      const selectedBucket: HTMLInputElement | null | undefined = bucketsListEl?.querySelector('input:checked');

      if (selectedBucket) {
        const bucketID = selectedBucket.value;

        if (!bucketID) {
          return;
        }

        const button = ev.target as HTMLButtonElement;
        let tabID = button.getAttribute('data-tab-id');

        if (!tabID) {
          return;
        }

        let currentBucketID = button.getAttribute('data-current-bucket-id');

        if (!currentBucketID) {
          return;
        }

        let tabMove: MoveTabToBucketType = {
          TabID: tabID,
          CurrentBucketID: currentBucketID,
          NewBucketID: bucketID,
        };

        window.globalBucketTabsState.TabSignals.emit(
          TabEvents.MoveTabToBucket,
          tabMove
        );
      }

    });
  }
</script>
