---

---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <img src="/assets/images/icon128.png" alt="logo" class="w-10 h-10" />
    <h1 class="text-xl ml-4">Bucket Tabs Management</h1>
  </div>
  <div class="navbar-center hidden lg:flex"></div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1 mr-14">
      <li>
        <details>
          <summary>Options</summary>
          <ul class="p-2 w-44 z-50">
            <li><a>Expand All Buckets</a></li>
            <li><a>Collapse All Buckets</a></li>
            <li><a>Export Buckets</a></li>
            <li><a>Delete Buckets</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>Help</summary>
          <ul class="p-2 w-44 z-50">
            <li><a>Guidance</a></li>
            <li><a>Terms and Conditions</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
