---
import GlobalSearchBox from "./GlobalSearchBox.astro"
---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <img src="/assets/images/icon128.png" alt="logo" class="w-10 h-10" />
    <h1 class="text-xl ml-4">Bucket Tabs Management</h1>
  </div>
  <div class="navbar-center hidden lg:flex">
    <GlobalSearchBox />
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1 mr-14">
      <li><a id="opt-add-bucket">+ Add Bucket</a></li>
      <li>
        <details>
          <summary>Options</summary>
          <ul class="bt-opt-menu-items p-2 w-44 z-50">
            <li><a id="opt-expand-all">Expand All Buckets</a></li>
            <li><a id="opt-collapse-all">Collapse All Buckets</a></li>
            <li><a id="opt-export-buckets">Export Buckets</a></li>
            <li><a id="opt-delete-buckets">Delete Buckets</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>Help</summary>
          <ul class="bt-help-menu-items p-2 w-32 z-50">
            <li><a href="https://github.com/Cecildt/bucket-tabs" target="_blank">Guidance</a></li>
            <li><a href="https://github.com/Cecildt/bucket-tabs" target="_blank">Terms and Conditions</a></li>
            <li><a href="https://github.com/Cecildt/bucket-tabs/issues" target="_blank">Feature request</a></li>
            <li><a href="https://github.com/Cecildt/bucket-tabs/issues" target="_blank">Report a bug</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>

<script>
import { BucketEvents } from "../scripts/internal/bucket-signals";

  const opt_menu_items = document.querySelector('.bt-opt-menu-items');
  if (opt_menu_items) {
    opt_menu_items.addEventListener('click', async (event) => {
      const targetElement = event.target as HTMLElement;
      targetElement.parentElement?.parentElement?.parentElement?.removeAttribute('open');
    });
  }

  const help_menu_items = document.querySelector('.bt-help-menu-items');
  if (help_menu_items) {
    help_menu_items.addEventListener('click', async (event) => {
      const targetElement = event.target as HTMLElement;
      targetElement.parentElement?.parentElement?.parentElement?.removeAttribute('open');
    });
  }

  const search_box = document.getElementById('bt-global-search');
  if (search_box) {
    search_box.addEventListener('input', async (event) => {
      const targetElement = event.target as HTMLInputElement;
      window.globalBucketTabsState.BucketSignals.emit(BucketEvents.GlobalSearch, targetElement.value);
    });
  }

</script>
