---

---

<dialog id="bt-rename-bucket" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Rename Bucket</h3>
    <div class="py-4">
      <input
        type="text"
        placeholder="Bucket name"
        class="input input-bordered w-full max-w-sm"
      />
    </div>
    <div class="modal-action">
      <form method="dialog">
        <button id="bt-rename-bucket-btn" class="mr-4">Rename</button>
        <button>Cancel</button>
      </form>
    </div>
  </div>
</dialog>

<script>
  import {
    BucketEvents,
    type RenameBucketType,
  } from '../scripts/internal/bucket-signals';

  const renameBucketBtn = document.getElementById('bt-rename-bucket-btn');
  if (renameBucketBtn) {
    renameBucketBtn.addEventListener('click', () => {
      const renameBucketDialog = document.getElementById('bt-rename-bucket');
      const renameInput = renameBucketDialog?.querySelector('input');
      if (renameInput) {
        const bucketName = renameInput.value;
        const bucketID = window.globalBucketTabsState.getCurrentBucketID();

        let bucketRename: RenameBucketType = {
          BucketID: bucketID,
          BucketName: bucketName,
        };

        window.globalBucketTabsState.BucketSignals.emit(
          BucketEvents.RenameBucket,
          bucketRename
        );
      }
    });
  }
</script>
