---
import SearchIcon from "../icons/SearchIcon.astro"
---
<label class="input input-bordered input-sm flex items-center gap-2">
  <input type="text" class="grow" placeholder="Search" />
  <SearchIcon />
</label>