---
import SearchIcon from "../icons/SearchIcon.astro"
---
<label class="input input-bordered input-sm flex items-center gap-2">
  <input class="bt-tabs-search" type="text" class="grow" placeholder="Search in bucket" title="Minimum of two characters required to search." />
  <SearchIcon />
</label>