---

---

<div id="tabItemTemplate">
  <ul class="menu menu-horizontal bg-base-200">
    <li>
      <!-- menu-dropdown-show -->
      <span class="menu-dropdown-toggle"><span class="badge badge-xs badge-neutral"></span></span>
      <ul class="menu-dropdown">
        <li><a>Archive</a></li>
        <li><a>Delete</a></li>
        <li><a>Open in a new browser window</a></li>
      </ul>
    </li>
    <li><a class="tab-link" href="" target="_blank" title=""></a></li>
  </ul>
</div>
