---

---

<div class="bt-tabs-list"></div>

<script>
//   const tabs_list = document.querySelector('.bt-tabs-list');

//   if (tabs_list) {
//     tabs_list.addEventListener('click', async (event) => {
//         console.log('tab list click');
//       const targetElement = event.target as HTMLElement;

//       if (targetElement.classList.contains('bt-tab-item-menu')) {
//         targetElement.parentElement?.parentElement?.parentElement?.removeAttribute(
//           'open'
//         );

//         console.log('Tab action menu clicked');
//       }
//     });
//   }
</script>
